@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root{
    --font-card: 'Macondo', cursive;
    --font-head: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}

h4{
    font-family: var(--font-head);
    margin: 1.2em 0;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card .comment-text{
    font-family:var(--font-card);
}

.card{
    width: 30em;
    border: 1px solid black;
    border-radius: 1.4em;
    padding: 1.2em;
    margin: 1.2em;
}